@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/Images/background-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    margin: auto;
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
@media only screen and (max-width: 500px) {
    nav{
        max-width: 90vw;
    }
  }
nav img{
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 500px) {
    nav img{
        width: 110px;
    }
  }
nav button{
    position: relative;
    z-index: 10;

}
.hero{
    height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}
.hero> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .hero> :nth-child(1){
        font-weight: 700;
        font-size: 32px;
    }
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .hero> :nth-child(2) {
        font-size: 18px;
    }
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .hero> :nth-child(3) {
        font-size: 18px;
    }
}
.separation{
    height: 7px;
    background-color: rgb(41, 41, 41);
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    padding: 5.5px 18px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease;
}
@media only screen and (max-width: 500px) {
    .btn-red {
        margin: 0px 80px;
        padding: 15px;
    }
}
.btn-red:hover{
    background-color: rgb(193, 17, 25);

}
.btn-red-sm{
    background-color: red;
    padding: 5px 8px;
    border: none;
    color: white;
    transition: background-color 0.5s ease-in-out, color 0.5s ease;
}
.btn-red-sm:hover{
    background-color: rgb(193, 17, 25);
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
@media only screen and (max-width: 500px) {
    .hero-buttons{
        display: grid;
    }
}
.main input{
    padding: 9px 100px 9px 9px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
@media only screen and (max-width: 500px) {
    .main input {
        padding: 20px 150px 20px 20px;
    }
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: 30px auto;
    color: white;
    align-items: center;
}
@media only screen and (max-width: 500px) {
    .first{
        display: flex;
        flex-wrap: wrap;
        max-width: 90vw;
    }
}
.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    top: 0px;
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 500px) {
    .secImg img {
        width: 400px;
    }
}
.secImg video{
    width: 408px;
    position: absolute;
    top: 85px;
    left: 73px;
}
@media only screen and (max-width: 500px) {
    .secImg video {
        width: 300px;
        top: 60px;
        left: 27px;
    }
}
section.first > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media only screen and (max-width: 500px) {
    section.first > div {
        text-align: center;
        gap: 20px;
    }
}
.first > div :first-child{
    font-size: 48px;
    font-weight: 900;
}
@media only screen and (max-width: 500px) {
    .first > div :first-child {
        font-size: 32px;
        font-weight: 700;
    }
}
.first > div :nth-child(2){
    font-size: 24px;
    padding-right: 190px;
}
@media only screen and (max-width: 500px) {
    .first > div :nth-child(2) {
        padding: 0px 25px;
        font-size: 18px;
    }
}
section.first-second > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 70px;
}
@media only screen and (max-width: 500px) {
    section.first-second > div {
        padding: 0px;
        margin: -20px 0px;
    }
}
.first-second{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: 0px auto 50px auto;
    color: white;
    align-items: center;
}
@media only screen and (max-width: 500px) {
    .first-second {
        display: flex;
        max-width: 80vw;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
}
.first-second > div :nth-child(1){
    font-size: 48px;
    font-weight: 900;
}
@media only screen and (max-width: 500px) {
    .first-second > div :nth-child(1) {
        font-size: 32px;
        font-weight: 700;
        margin: 45px 0px 0px 0px;
    }
}
.first-second > div :nth-child(2){
    font-size: 24px;
    padding-right: 20px;
}
@media only screen and (max-width: 500px) {
    .first-second > div :nth-child(2) {
        padding: 10px 0px;
        font-size: 18px;
    }
}
.thirdImg{
    position: relative;
}
.thirdImg img{
    width: 30vw;
    top: 10px;
    position: relative;
    z-index: 10;
}
@media only screen and (max-width: 500px) {
    .thirdImg img {
        width: 90vw;
    }
}
.thirdImg video{
    width: 370px;
    position: absolute;
    top: 60px;
    left: 105px;
}
@media only screen and (max-width: 500px) {
    .thirdImg video {
        width: 235px;
        top: 45px;
        left: 33px;
    }
}
@media only screen and (max-width: 500px) {
    .fourth{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}
.faq h2{
    margin-top: 30px;
    padding: 30px;
    font-size: 48px;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .faq h2 {
        font-size: 32px;
    }
}
.faqbox{
    display: flex;
    width: 60vw;
    margin: 10px auto;
    background-color: rgb(41, 41, 41);
    padding: 24px;
    color: white;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.5s ease-in-out, color 0.5s ease;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .faqbox {
        width: 70vw;
        font-size: 18px;
    }
}
.faqbox:hover{
    background-color: rgb(70, 70, 70);
}
.footermail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 50px;
}
.footermail> :nth-child(1){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .footermail> :nth-child(1) {
        font-size: 18px;
    }
}
.footermail input{
    padding: 9px 100px 9px 9px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
@media only screen and (max-width: 500px) {
    .footermail input {
        padding: 20px 150px 20px 20px;
    }
}
footer{
    display: grid;
    gap: 20px;
    color: white;
    max-width: 62vw;
    margin: auto;
    padding: 30px 0px;
}
@media only screen and (max-width: 500px) {
    footer {
        max-width: 80vw;
    }
}
.footer {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    color: white;
}
@media only screen and (max-width: 500px) {
    .footer {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ftbtn{    
    width: 90px;
    padding: 4px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}